appdirs==1.4.0
Django==1.10.5
django-analytical==2.2.2
django-crispy-forms==1.6.1
django-debug-toolbar==1.6
django-faker==0.2
django-grappelli==2.9.1
django-seo2==1.0.1
django-summernote==0.8.6
django-taggit==0.22.0
django-taggit-helpers==0.1.4
fake-factory==9999.9.9
olefile==0.44
packaging==16.8
Pillow==4.0.0
pyparsing==2.1.10
six==1.10.0
sqlparse==0.2.2
