{% extends 'layout/base.html' %}
{% load urlfy %}

{% block title %}
    {{ object.title }} | {{ block.super }}
{% endblock %}

{% block microformat %}
    {% include "product/microformat.html" %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            {% include "tags/product-search.html" %}
        </div>

        <div class="col-sm-8">
            <h1>{{ object.title }}</h1>
        
            {% if object.get_image_url %}
            <div>
                <img src="{{ object.get_image_url }}" class="img-responsive">
            </div>
            {% endif %}

            <div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>

            <p class="lead">
                {% autoescape off %} {{ object.description }} {% endautoescape %}
            </p>
        </div>

        <!-- Product sidebar -->
        <div class="col-sm-4">
            {% if object.variation_set.count > 1 %}
                <h3><span id="price">{{ object.variation_set.first.price }}</span> <small id="original-price">{{ object.variation_set.first.sale_price }}</small></h3>
                <select name="variation-select" id="variation-select" class="form-control">
                {% for variation in object.variation_set.all %}
                    <option value="{{ variation.id }}" data-price="{{ variation.price }}" data-sale-price="{{ variation.sale_price }}">{{ variation }}</option>
                {% endfor %}
                </select>
            {% else %}
                {% if object.variation_set.first.sale_price %}
                <h3><span id="price">{{ object.variation_set.first.sale_price }}</span> <small id="original-price">{{ object.variation_set.first.price }}</small></h3>
                {% else %}
                    <h3><span id="price">{{ object.variation_set.first.price }}</span> <small id="original-price"></small></h3>
                {% endif %}
            {% endif %}
            <br>
            <a href="#" class="btn btn-lg btn-success btn-block">Agregar al carrito</a>

            <br>
            <hr>
            <br>

            <h4>Productos relacionados</h4>

            <div class="row">
                {% for product in related %}
                    <div class="col-sm-6 col-md-6">
                        {% include "tags/product-thumbnail.html" with product=product price=True photo=False %}
                    </div>
                    {% cycle "" "</div><hr/><div class='row'>" %}
                {% endfor %}
            </div>

        </div>

    </div>

{% endblock %}


<script>
{% block jquery %}
    /* --- Product detail --- */
    var price = $("#price");
    var original_price = $("#original-price");
    var variation = $("#variation-select");

    function setProductPrice() {
        var value = variation.find("option:selected").attr("data-price");
        var sale_price = variation.find("option:selected").attr("data-sale-price");
        if (sale_price != "" && sale_price != "None" && sale_price != undefined) {
            price.text(sale_price);
            original_price.text("Original price: " + value);
        } else {
            price.text(value);
        }
    }

    setProductPrice();

    variation.change(function () {
        setProductPrice();
    });
{% endblock %}
</script>
