{% extends 'layout/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <h1>Hola mundo Productos</h1>

    {% include "tags/product-search.html" %}

    <div class="row">
    {% for object in object_list %}
        <div class="col-sm-6 col-md-6">
            {% include "tags/product-thumbnail.html" with product=object price=True %}
        </div>
        {% cycle "" "</div><hr/><div class='row'>" %}
    {% endfor %}
    </div>

    <div class="row">
        <div class="col-md-12 paginator">
            <div class="step-links">
                {% if object_list.has_previous %}
                <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Anterior</a>
                {% endif %}
                <span class="current">
                    Página {{ object_list.number }} de {{ object_list.paginator.num_pages }} páginas
                </span>
                {% if object_list.has_next%}
                <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Siguiente</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
