{% extends 'layout/base.html' %}
{% load urlfy %}

{% block title %}
    {{ object.title }} | {{ block.super }}
{% endblock %}

{% block header-container %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>{{ instance.name }}</h1>
            </div>
        </div>
    </div>

{% endblock %}

{% block content %}

    <div class="container">
        <div class="row section-spacing">
            <div class="col-sm-8">
                {% if instance.get_image_url %}
                <div>
                    <img src="{{ instance.get_image_url }}" class="img-responsive img-rounded">
                </div>
                {% endif %}

                <p class="lead">
                    {% autoescape off %} {{ instance.description }} {% endautoescape %}
                </p>
            </div>

            <!-- Game sidebar -->
            <div class="col-sm-3 col-sm-offset-1">
                Website: {{ instance.website }} <br>
                Release: {{ instance.release_date }}
            </div>

        </div>

    </div>

{% endblock %}
