{% extends 'layout/base.html' %}

{% block title %}
    {{ instance.title }} | {{ block.super }}
{% endblock %}

{% block content %}
    <div class="col-sm-6 col-sm-offset-3">
        <h1>{{ title }}: {{ instance.title }}</h1>
        <small>
            <span class="badge">{{ instance.timestamp }}</span> &bullet;
            <span class="badge">{{ instance.updated }}</span>
        </small>
        <blockquote class="lead">{{ instance.content|linebreaks }}</blockquote>
    </div>
{% endblock %}
