{% load staticfiles %}
{% load google_analytics %}
<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Default title{% endblock %}</title>
    {% block microformat %}{% endblock %}

    {% include "tags/style.html" %}
    <style>
        {% block style %}/* --- CSS --- */{% endblock %}
    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="{% static "js/vendor/html5shiv.js" %}"></script>
      <script src="{% static "js/vendor/respond.min.js" %}"></script>
    <![endif]-->

</head>
<body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.8";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    {% google_analytics %}

    <div class="container">
        {% include "tags/messages.html" %}

        {% block content %}{% endblock %}
    </div>

    {% include "tags/javascript.html" %}

    <script>
        {% block script %}/* --- Javascript --- */{% endblock %}
        $(document).ready(function () {
            {% block jquery %}{% endblock %}
        });
    </script>

</body>
</html>
